{% extends "layout.njk" %}
{%block head %}
    <title>About</title>
{% endblock %}
{% block content %}

    <section class="wrapper">
        <h1>{{about.name}}</h1>
        <img src="{{about.avatar}}" alt="Foto {{about.name}}">
        <p>{{about.description}}</p>
    </section>
    <footer class="rodape-about">
        <nav>
            <ul class="rede-social">
                {% for link in about.links%}
                <li>
                    <a class="{{link.class}}" href="{{link.url}}">{{ link.name }}</a>
                </li>
                
                {% endfor%}
            </ul>
        </nav>
        <p>&copy; 2020 <i>{{about.name}}</i><p>
    </footer>

    {% endblock%}