{% extends "layout.njk" %}
{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Portfolio - Mikael</title>
{% endblock %}
{% block content %}
    <h1>
        Aulas
    </h1>
    <section class="cards">
        {% for item in items %}
            <div class="card" id="{{item.id}}">
                <div class="card__image-container  {{'featured-wrapper' if item.featured}} ">
                    <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="">
                    {% if item.featured %}
                    <div class="featured">featured</div>
                    {% endif%}
                </div>
                <div class="card__content">
                    <p>{{item.title}}</p>
                </div>
                <div class="card__info">
                    <p>{{item.duration}}</p>
                    <p class="card__price">{{item.Price}}</p>
                </div>
            </div>
        {% endfor %}

    </section>
   

    <script src="/scripts.js"></script>
{% endblock %}